*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins',
    sans-serif;
    background-color: var(--optionalBgColor);
}
:root{
    --basicFont:#000;
    --optionalFont: #fff;
    --lightFont:#603BFF;

    --mianBgColor: #FFFFFF;
    --lightBgColor:#562EFF;
    --optionalBgColor:#F3F1FF;
    }

    img {
        width: 100%;
    }

    h1 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    ul {
        list-style: none;
        display: flex;
        align-items: center;
    }

    a {
        text-decoration: none;
        color: var(--optionalFont);
    }

    .container {
        max-width: 900px;
        display: block;
        margin: auto;
        background-color: var(--mianBgColor);
        padding: 15px;
        margin: 20px auto;
        border-radius: 8px;
        }
.title {
    color: var(--lightFont);
    margin: 25px 0;
}
/* ! utilites */

nav {
    height: 95px;
    background-color: var(--lightBgColor);
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: var(--lightBgColor);
    padding: 0;
    margin: 0 auto;
}

.nav .logo {
    width: 100px;
    display: flex;
    color: var(--optionalFont);
}

.nav .logo img,
.nav .menu img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nav .logo img {
    margin-right: 15px;
}

.nav .menu li {
    margin: 0 20px;
}

/* ! nav */

.players,
.blogs,
.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.player,
.blog {
    display: flex;
    align-items: center;
}

.player img {
    margin-right: 20px;
    width: 60px;
    height: 60px;
}

/* ! top players end */
.blogs {
    grid-template-columns: repeat(2, 1fr);
}

.blogs img {
    width: 180px;
    margin-right: 20px;
}

.blogs p {
    color: gray;
    margin-top: 15px;
}

.blogs span {
    color: var(--lightFont);
}

/* ! Blogs end */
.course {
    background-color: var(--mianBgColor);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.267);
    border-radius: 8px;
    padding: 15px;
    overflow: hidden;
    min-height: 250px;
}

.course .thumbnail {
    height: 105px;
    width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.course .thumbnail img {
    height: 100%;
}

.course .info p {
    color: #F3A291;
    margin: 10px 0;
}

.course .detail {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}


.course .detail .star {
    color: goldenrod;
}

.course .detail p,
.course .detail .star svg:last-child {
    color: gray;
}


.course .detail span {
    background-color: #FFE4E8;
    border-radius: 15px;
    padding: 8px;
    font-size: 13px;
    margin-left: 15px;
    color: #FF8493;
    font-weight: 600;
    letter-spacing: 0.2em;
}

/* ! end Course */
@media only screen and (max-width:768px) {
    .container {
        width: 90%;
    }

    .players,
    .courses {
        grid-template-columns: repeat(2, 1fr);
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }

    .player,
    .blog {
        justify-content: center;
    }

}

@media only screen and (max-width:576px) {

    .players,
    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }

    .course {
        width: 70%;
    }

    .courses {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}